.box {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
  padding: 0 1.5rem;
  background-color: var(--background);
  border-bottom: 1px solid var(--grey93);

  transition: transform 150ms ease-in-out;
}

.boxHide {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
  padding: 0 1.5rem;
  background-color: var(--background);
  border-bottom: 1px solid var(--grey93);

  transition: transform 150ms ease-in-out;

  transform: translateY(-100%);
}

.leftSide {
  display: flex;
  align-items: center;
}

.divider {
  display: block;
  height: 4.5rem;
  width: 1px;
  margin: 0 1.5rem;
  background-color: var(--grey93);
}

.rightSide {
  display: flex;
  align-items: center;
}
