.popupContainer {
  z-index: 100;
  position: absolute;
  top: 4rem;
  left: -1.5rem;
  width: 20rem;
  padding: 0.75rem 0;
  background-color: var(--background);
  border: 1px solid var(--grey93);
  border-radius: 0.25rem;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.popupList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.popupItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

.popupItem:hover {
  background-color: var(--grey97);
}

.itemImageContainer {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  border-radius: 50%;
  overflow: hidden;
}

.itemImage {
  width: 100%;
  height: 100%;
}

.itemInfo {
  display: flex;
  flex-direction: column;
}

.itemText {
  font-size: 1rem;
  line-height: 1.3;
}

.itemSubscribers {
  margin-top: 0.25rem;
  font-size: 0.85rem;
  line-height: 1;
  font-weight: 400;
  color: var(--grey75);
}

@media (max-width: 480px) {
  .popupContainer {
    z-index: 100;
    position: absolute;
    top: 5rem;
    left: 2rem;
    padding: 0.75rem 0;
  }
}
