.profile {
  display: flex;
  align-items: center;
}

.userAvatar {
  display: block;
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}

.userAvatarImg {
  width: 100%;
  height: auto;
}

.userName {
  margin-left: 1rem;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  color: var(--main);
}

@media (max-width: 720px) {
  .userName {
    display: none;
  }
}
