/* Video size crutch */
div > video {
  max-height: 75vh;
}

/* Color scheme */
@media (prefers-color-scheme: light) {
  :root {
    --accent: #ff4500;
    --accent-light: #ffa280;
    --main: #333333;
    --background: #ffffff;
    --background-op: rgba(255, 255, 255, 0.5);
    --grey97: #f2f2f7;
    --grey93: #e8e8ed;
    --grey75: #b8b8bf;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #ff7440;
    --accent-light: #993c1a;
    --main: #d0d0d9;
    --background: #252526;
    --background-op: rgba(37, 37, 38, 0.5);
    --grey97: #38383b;
    --grey93: #3d3d40;
    --grey75: #626266;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: -0.02em;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: var(--main);
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--grey93) var(--background);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--grey93);
  border-radius: 20px;
  border: 3px solid var(--background);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

.main {
  display: flex;
  position: relative;
  flex-direction: row;
}

.container {
  margin: 8.5rem auto;
  padding: 0 4rem;
  width: 100%;
  max-width: 72rem;
}

.react-player__shadow {
  z-index: 2;
}

@media (max-width: 900px) {
  .container {
    margin: 6.5rem auto;
    padding: 0 2rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }

  .container {
    padding: 0 1rem;
  }
}
